<header  class="alt">
  <div class='product'>
    <h1>Products</h1>
    <div class="container">
      <div class="col-8 offset-2">
        <p >We specialize in sourcing and importing high-end homewares, fashion accessories, sporting goods and beauty products from markets including China, India, and Indonesia. We pride ourselves on our ability to identify unique products that are manufactured to the highest standards possible suitable for distribution into the US, the UK, Spain, Italy, Germany and France.
        </p>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
   <div class="col-6">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hussh.com.au/wp-content/uploads/2019/02/GrandDesign.jpg)">
      Homewares
    </div>
  </div>
  <div class="col-6">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.etsystatic.com/6791412/r/il/d582bd/482239814/il_1588xN.482239814_qief.jpg)">
      Garden tools
    </div>
  </div>
</div>
<div class="row">
 <div class="col-6">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://blog.cybba.com/hubfs/Sporting-Goods-Feat-min-1200x628.jpg)">
    Sporting Goods
  </div>
</div>
<div class="col-6">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.cartetamtam.fr/wp-content/uploads/2017/01/les-accessoires-de-mode-fashion.jpg)">
    Accessories
  </div>
</div>
</div>
</div>

<section id="cta" class="main special">
  <h2>Get in touch</h2>
  <p>Wanting to launch your product into the Western market, but still having some questions? </br> Don't hesitate to get in touch. We are here to help.</p>
  <ul class="actions">
    <li><a href="mailto:info@andreas-steven-importing.com"  class="button big">Contact us</a></li>
  </ul>

  <p>
  +32 472 01 71 72</br>
+32 456 13 34 02</br>
info@andreas-steven-importing.com</br>
BE 0717.811.975</br>
Av. De Tervurenlaan 32-34 / 6 </br>
1040 Brussels</br>
Belgium
</p>
</section>


<footer id="footer">
  <p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
</footer>

